* {
    box-sizing: border-box;
}

body {
    font-family: Verdana;
    margin: 0;
}



/* navigation css */
.site-header {
    background-color: #FFFFFF;
    position: fixed;
    width: 100%;
    top: 0;;
    box-sizing: border-box;
    padding: 0 6rem;
    z-index: 1;
}

.site-header__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.site-logo {
    color: #335576;
    font-size: larger;
    font-weight: bolder;
    text-decoration: none;
}
.navigation {
    display: flex;
    justify-content: center;
    /* padding-left: 1rem; */
    
}
.navigation-list {
    display: flex;
    box-sizing: border-box;
    padding-inline-start: 0;
    /* text-align: justify; */
}
.navigation-item {
    padding-left: 0.8rem;
}
.navigation-link {
    text-decoration: none;
    /* margin-left: 1rem; */
    
}
li {
    list-style: none;
    font-size: 0.85rem;
}

/* navigation css */

